.destination .section-title{
    margin: 88px auto 32px;
}

.destination-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.destination-items .items{
    width: 312px;
    height: 754px;
}

.img-destination{
    width: 312px;
    height: 360px;
}

.img-destination.tokyo{
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.img-destination.osaka{
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.destination .items header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destination-items .items h4{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px 0;
}

.destination-items .items p{
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;
}


