.destination .section-title{
    margin: 88px auto 32px;
}

.destination-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.destination-items .items{
    width: 312px;
    height: 754px;
    
}

.destination .items header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}
