header{
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}

nav{
    display: none;
}

.navigation-menu.menu-ativo nav{
    display: block;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 90px;
    right: 20px
}